/* *RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif   ;
}

/* *GENERAL */

.container {
    height: 100vh;
    overflow: hidden;
}

/* *HEADER */

#header {
    height: 50px;
    background-color: black;
    text-align: right;
    padding: 5px;
}

#header button {
    color: white;
    background-color: #4A4A4B;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}